<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <head th:replace="base :: headstuff"></head>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <div class="jumbotron">
        <h1>User Registration</h1>

<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <div>First Name:<input type="text" id="firstname" th:field="*{firstname}"/>
    <mark><strong>
	    <span th:if="${#fields.hasErrors('firstname')}"
              th:errors="*{firstname}">First Name Error</span>
    </strong></mark></div>
    <div>Last Name:<input type="text" id="lastname" th:field="*{lastname}"/>
    <mark><strong>
	    <span th:if="${#fields.hasErrors('lastname')}"
              th:errors="*{lastname}">Last Name Error</span>
    </strong></mark></div>
    <div>Email:<input type="text" id="email" th:field="*{email}"/>
    <mark><strong>
	    <span th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}">Email Error</span>
    </strong></mark></div>
    <div>User Name:<input type="text" id="username" th:field="*{username}"/>
   <mark><strong>
         <span th:if="${#fields.hasErrors('username')}"
               th:errors="*{username}">User Name Error</span>
   </strong></mark></div>
    <div>Password:<input type="password" id="password" th:field="*{password}"/>
    <mark><strong>
         <span th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">Password Error</span>
    </strong></mark></div>
    <div><input type="submit" name="Submit" /></div>
 </form>
    </div>
</div>
 </body>
 </html>